    body {
      background-color: rgb(53, 53, 53);
      color: white;
    }

    .footer {
      color: darkgray;
      margin-top: 200px;
      text-align: center;
    }

    .smImg {
      width: 35px;
      height: 35px;
    }