    body {
      background-color: rgb(53, 53, 53);
      color: white;
    }

    .container {
      margin-top: 5%;
      background-color: rgb(93, 93, 93);
    }

    .col {
      padding: 10px;
    }

    .projImg {
      size: inherit;
    }

    .card {
      margin: 10px;
    }

    /* .btn-primary {
      background-color: lightgreen;
    } */
    
    
    .footer {
      color: darkgray;
      margin-top: 200px;
      text-align: center;
    }

    .smImg {
      width: 35px;
      height: 35px;
    }